# 环境变量文件
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 测试数据库
test.db

# 日志文件
*.log

# VSCode
.vscode/

# JetBrains
.idea/

# 敏感文件
*.pem
*.key

# 本地模型文件
models/*
!models/.gitkeep 